<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
    <remove name="dmddata"/>
    <add name="dmddata" connectionString="Data Source=datadepot\sql2008;Initial Catalog=dmd_data;User ID=sa;Password=sa4data" providerName="System.Data.SqlClient" />
    <add name="mwdatastore" connectionString="Data Source=SQLBeast;Initial Catalog=MW_DataStore;User ID=sa;Password=ripple" providerName="System.Data.SqlClient" />
    <add name="gemapp" connectionString="Data Source=Dynamic;Initial Catalog=Gem_App;User ID=super;Password=super" providerName="System.Data.SqlClient" />
  </connectionStrings>
  <!--<section name="log4net" type="log4net.Config.Log4NetConfigurationSectionHandler, log4net"/>
  <log4net>
    <logger name="NHibernate" additivity="false">
      <level value="WARN"/>
      <appender-ref ref="RollingFileAppender" />
    </logger>
    <logger name="NHibernate.SQL" additivity="false">
      <level value="ALL"/>
      <appender-ref ref="RollingFileAppender" />
    </logger>


    <appender name="ConsoleAppender" type="log4net.Appender.ConsoleAppender">
      <layout type="log4net.Layout.PatternLayout">
        <conversionPattern value="%date [%thread] %-5level %logger [%ndc] - %message%newline"/>
      </layout>
    </appender>
    <appender name="RollingFileAppender" type="log4net.Appender.RollingFileAppender">
      <param name="File" value="logs//Log.txt"/>
      <param name="AppendToFile" value="true"/>
      <param name="MaxSizeRollBackups" value="1000"/>
      <param name="MaximumFileSize" value="100000"/>
      <param name="RollingStyle" value="Size"/>
      <param name="StaticLogFileName" value="true"/>
      <layout type="log4net.Layout.PatternLayout">
        <param name="ConversionPattern" value="%d [%-4t] %-5p %-60c [%x] - %m%n"/>
      </layout>
    </appender>
    <root>
      <level value="DEBUG"/>
      <appender-ref ref="RollingFileAppender"/>
    </root>
  </log4net>-->
</configuration>